  #container {
    width: 50%;
    height: 90%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    -webkit-box-shadow: 12px 14px 40px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 12px 14px 40px 0px rgba(0,0,0,0.36);
    box-shadow: 12px 14px 40px 0px rgba(0,0,0,0.36);
    background-image: url(../../images/back.png);
    transition: all 1s linear;
    z-index: 3;
  }
  #blockLeft, #blockRight {
    height: 100%;
    
  }
  #blockLeft {
    float: left;
    width: 50%;
  }
  #blockRight {   
    float: left;
    width: 0;
    transition: all .5s linear;
  }
  #pict {
    height: 80%;
    width: 90%;
    margin-top: 10%;
    -webkit-box-shadow: 10px 9px 40px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 9px 40px 0px rgba(0,0,0,0.76);
    box-shadow: 10px 9px 40px 0px rgba(0,0,0,0.76);   
  }
  #menut {
    border: 0;
    height: 38px;
    width: 38px;
    background-color: black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);   
  }
  #menut:hover {
    background-color: #353535;
  }
  #menum {
    width: 100%
  }
  .language {
    border: 0;
    height: 38px;
    width: 38px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;  
    letter-spacing: 5px;
      font-size: .700rem;
    font-family: gtwr;
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase;    
    -webkit-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.21);
    box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.21); 
  }
  .activeB {
    background-color: white;
  }
  .disableB {
    background-color: #E2E2E2;
    color: #616161;
  }
  #title {
    margin-top: 30%;
    margin-left: 5%;
  }
  .myName {
    font-family: 'pdb';
    display: block;
  }
  .firstName {
    font-size: 5em;
  }
  .lastName {
    font-size: 1em;
    letter-spacing: 14.7px;
    text-transform: uppercase;
  }
  .lastName:after {
      display: inline-block;
      border-bottom: 1px solid black;
      content: "";
      width: 120px;
      vertical-align: top;
      margin-top: 12px;
  }
  #more {
    border: 0;
    height: 38px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #0C36FB;
    letter-spacing: 5px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: .700rem;
    font-family: gtwr;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 80px;
    -webkit-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);   
  }
  #botBar {
    width: 800px;
    height: 60px;
    /*background-color: white;*/
    margin:auto;
    z-index: 99999;
    margin-top: -2%;
    position: relative;   
  }
  #butBotBar {
    width: 60px;
    height: 60px;
    border-right: 1px solid #E1E1E1;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: white;    
  }
  .shadbbb1 {
    -webkit-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41);
    box-shadow: -2px 5px 40px 0px rgba(0,0,0,0.41); 
  }
  .imbbbF {
    background-image: url(../../images/fold.png);    
  }
  .imbbbU {
    background-image: url(../../images/unfold.png);    
  }
  #botMenu {
    width: 740px;
    height: 60px;
    border-left: 1px solid #E1E1E1;
    font-style: normal;
    font-family: dvl;
    font-size: 14px;
    position: absolute;
    left: 60px;
    -webkit-box-shadow: 16px 2px 40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 16px 2px 40px 0px rgba(0,0,0,0.2);
    box-shadow: 16px 2px 40px 0px rgba(0,0,0,0.2);  
    background-color: white;
  }
  .elBotMen {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 4.5em;
    color: #949494;
    font-weight: bold;
  }
  .ebmp{
    cursor: pointer;
  }
  #ebm1 {
    color: #0C36FB;
  }