	@font-face {
	font-family: 'pdb';
	src: url('../fonts/PlayfairDisplayBold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

	@font-face {
	font-family: 'PistilliRoman';
	src: url('../fonts/PistilliRoman.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

	@font-face {
	font-family: 'gtwr';
	src: url('../fonts/GTWalsheimRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

	@font-face {
	font-family: 'dvl';
	src: url('../fonts/DolceVitaLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}