@font-face {
  font-family: 'pdb';
  src: url("../fonts/PlayfairDisplayBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PistilliRoman';
  src: url("../fonts/PistilliRoman.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gtwr';
  src: url("../fonts/GTWalsheimRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dvl';
  src: url("../fonts/DolceVitaLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

button:active {
  outline-style: none; }

#container {
  width: 50%;
  height: 90%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  -webkit-box-shadow: 12px 14px 40px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 12px 14px 40px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 12px 14px 40px 0px rgba(0, 0, 0, 0.36);
  background-image: url(../../images/back.png);
  transition: all 1s linear;
  z-index: 3; }

#blockLeft, #blockRight {
  height: 100%; }

#blockLeft {
  float: left;
  width: 50%; }

#blockRight {
  float: left;
  width: 0;
  transition: all .5s linear; }

#pict {
  height: 80%;
  width: 90%;
  margin-top: 10%;
  -webkit-box-shadow: 10px 9px 40px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 10px 9px 40px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 10px 9px 40px 0px rgba(0, 0, 0, 0.76); }

#menut {
  border: 0;
  height: 38px;
  width: 38px;
  background-color: black;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  -webkit-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41); }

#menut:hover {
  background-color: #353535; }

#menum {
  width: 100%; }

.language {
  border: 0;
  height: 38px;
  width: 38px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  letter-spacing: 5px;
  font-size: .700rem;
  font-family: gtwr;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  -webkit-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.21);
  box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.21); }

.activeB {
  background-color: white; }

.disableB {
  background-color: #E2E2E2;
  color: #616161; }

#title {
  margin-top: 30%;
  margin-left: 5%; }

.myName {
  font-family: 'pdb';
  display: block; }

.firstName {
  font-size: 5em; }

.lastName {
  font-size: 1em;
  letter-spacing: 14.7px;
  text-transform: uppercase; }

.lastName:after {
  display: inline-block;
  border-bottom: 1px solid black;
  content: "";
  width: 120px;
  vertical-align: top;
  margin-top: 12px; }

#more {
  border: 0;
  height: 38px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #0C36FB;
  letter-spacing: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: .700rem;
  font-family: gtwr;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 80px;
  -webkit-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41); }

#botBar {
  width: 800px;
  height: 60px;
  /*background-color: white;*/
  margin: auto;
  z-index: 99999;
  margin-top: -2%;
  position: relative; }

#butBotBar {
  width: 60px;
  height: 60px;
  border-right: 1px solid #E1E1E1;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: white; }

.shadbbb1 {
  -webkit-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41);
  box-shadow: -2px 5px 40px 0px rgba(0, 0, 0, 0.41); }

.imbbbF {
  background-image: url(../../images/fold.png); }

.imbbbU {
  background-image: url(../../images/unfold.png); }

#botMenu {
  width: 740px;
  height: 60px;
  border-left: 1px solid #E1E1E1;
  font-style: normal;
  font-family: dvl;
  font-size: 14px;
  position: absolute;
  left: 60px;
  -webkit-box-shadow: 16px 2px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 16px 2px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 16px 2px 40px 0px rgba(0, 0, 0, 0.2);
  background-color: white; }

.elBotMen {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 4.5em;
  color: #949494;
  font-weight: bold; }

.ebmp {
  cursor: pointer; }

#ebm1 {
  color: #0C36FB; }

.glitch--style {
  --gap-horizontal: 20px;
  --gap-vertical: 2px;
  --time-anim: 2.25s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-mode-5: none;
  --blend-color-1: red;
  --blend-color-2: blue;
  --blend-color-3: pink;
  --blend-color-4: skyblue;
  --blend-color-5: red; }

.glitch {
  position: relative;
  overflow: hidden; }

.glitch:hover {
  cursor: pointer; }

.glitch__img {
  position: absolute;
  top: calc(-1 * var(--gap-vertical));
  left: calc(-1 * var(--gap-horizontal));
  width: calc(100% + var(--gap-horizontal) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  background: url(../../images/alone.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
  background-blend-mode: var(--blend-mode-1); }

/* Set the background colors for the glitch images*/
.glitch__img:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2); }

.glitch__img:nth-child(3) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3); }

.glitch__img:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4); }

.glitch__img:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5); }

/* Hide all images except the first one */
.glitch__img:nth-child(n+2) {
  opacity: 0; }

/* Hovers */
/* On hover we show the 2nd, 3rd, 4th and 5th image*/
.glitch:hover .glitch__img:nth-child(n+2) {
  opacity: 1; }

/* Hover animations for horizontal case */
.glitch:hover .glitch__img:nth-child(2) {
  transform: translate3d(var(--gap-horizontal), 0, 0);
  animation: glitch-anim-1-horizontal var(--time-anim) infinite linear alternate; }

.glitch:hover > .glitch__img:nth-child(3) {
  transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
  animation: glitch-anim-2-horizontal var(--time-anim) infinite linear alternate; }

.glitch:hover > .glitch__img:nth-child(4) {
  transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
  animation: glitch-anim-3-horizontal var(--time-anim) infinite linear alternate; }

/* Hover animations for vertical case */
.glitch--vertical:hover .glitch__img:nth-child(2) {
  transform: translate3d(0, var(--gap-vertical), 0);
  animation: glitch-anim-1-vertical var(--time-anim) infinite linear alternate; }

.glitch--vertical:hover > .glitch__img:nth-child(3) {
  transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0);
  animation: glitch-anim-2-vertical var(--time-anim) infinite linear alternate; }

.glitch--vertical:hover > .glitch__img:nth-child(4) {
  transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
  animation: glitch-anim-3-vertical var(--time-anim) infinite linear alternate; }

/* Hover flash animation on last image */
.glitch:hover > .glitch__img:nth-child(5) {
  animation: glitch-anim-flash 0.5s steps(1, end) infinite; }

/* Animations */
/* Horizontal */
@keyframes glitch-anim-1-horizontal {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  10% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  20% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  30% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  40% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  50% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  70% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  80% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  90% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); } }
@keyframes glitch-anim-2-horizontal {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  15% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  22% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  31% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  45% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  51% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  63% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  76% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  81% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  94% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  100% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); } }
@keyframes glitch-anim-3-horizontal {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  10% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  25% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  27% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  30% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  33% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  37% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  40% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  45% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  50% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  53% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  57% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  65% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  70% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  73% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  80% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); } }
/* Vertical */
@keyframes glitch-anim-1-vertical {
  0% {
    -webkit-clip-path: polygon(2% 0, 5% 0, 5% 100%, 2% 100%);
    clip-path: polygon(2% 0, 5% 0, 5% 100%, 2% 100%); }
  10% {
    -webkit-clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%);
    clip-path: polygon(15% 0, 15% 0, 15% 100%, 15% 100%); }
  20% {
    -webkit-clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%);
    clip-path: polygon(10% 0, 20% 0, 20% 100%, 10% 100%); }
  30% {
    -webkit-clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%);
    clip-path: polygon(1% 0, 2% 0, 2% 100%, 1% 100%); }
  40% {
    -webkit-clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%);
    clip-path: polygon(33% 0, 33% 0, 33% 100%, 33% 100%); }
  50% {
    -webkit-clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%);
    clip-path: polygon(44% 0, 44% 0, 44% 100%, 44% 100%); }
  60% {
    -webkit-clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%);
    clip-path: polygon(50% 0, 20% 0, 20% 100%, 50% 100%); }
  70% {
    -webkit-clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%);
    clip-path: polygon(70% 0, 70% 0, 70% 100% 70%, 70% 100%); }
  80% {
    -webkit-clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%);
    clip-path: polygon(80% 0, 80% 0, 80% 100% 80%, 80% 100%); }
  90% {
    -webkit-clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%);
    clip-path: polygon(50% 0, 55% 0, 55% 100%, 50% 100%); }
  100% {
    -webkit-clip-path: polygon(70% 0, 80% 0, 80% 100%, 70% 100%);
    clip-path: polygon(70% 0, 80% 0, 80% 100%, 70% 100%); } }
@keyframes glitch-anim-2-vertical {
  0% {
    -webkit-clip-path: polygon(25% 0, 30% 0, 30% 100%, 25% 100%);
    clip-path: polygon(25% 0, 30% 0, 30% 100%, 25% 100%); }
  15% {
    -webkit-clip-path: polygon(3% 0, 3% 0, 3% 100%, 3% 100%);
    clip-path: polygon(3% 0, 3% 0, 3% 100%, 3% 100%); }
  22% {
    -webkit-clip-path: polygon(5% 0, 20% 0, 20% 100%, 5% 100%);
    clip-path: polygon(5% 0, 20% 0, 20% 100%, 5% 100%); }
  31% {
    -webkit-clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
    clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%); }
  45% {
    -webkit-clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%);
    clip-path: polygon(40% 0, 40% 0, 40% 100%, 40% 100%); }
  51% {
    -webkit-clip-path: polygon(52% 0, 59% 0, 59% 100%, 52% 100%);
    clip-path: polygon(52% 0, 59% 0, 59% 100%, 52% 100%); }
  63% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
    clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%); }
  76% {
    -webkit-clip-path: polygon(75% 0, 75% 0, 75% 100%, 75% 100%);
    clip-path: polygon(75% 0, 75% 0, 75% 100%, 75% 100%); }
  81% {
    -webkit-clip-path: polygon(65% 0, 40% 0, 40% 100%, 65% 100%);
    clip-path: polygon(65% 0, 40% 0, 40% 100%, 65% 100%); }
  94% {
    -webkit-clip-path: polygon(45% 0, 50% 0, 50% 100%, 45% 100%);
    clip-path: polygon(45% 0, 50% 0, 50% 100%, 45% 100%); }
  100% {
    -webkit-clip-path: polygon(14% 0, 33% 0, 33% 100%, 14% 100%);
    clip-path: polygon(14% 0, 33% 0, 33% 100%, 14% 100%); } }
@keyframes glitch-anim-3-vertical {
  0% {
    -webkit-clip-path: polygon(1% 0, 3% 0, 3% 100%, 1% 100%);
    clip-path: polygon(1% 0, 3% 0, 3% 100%, 1% 100%); }
  5% {
    -webkit-clip-path: polygon(10% 0, 9% 0, 9% 100%, 10% 100%);
    clip-path: polygon(10% 0, 9% 0, 9% 100%, 10% 100%); }
  10% {
    -webkit-clip-path: polygon(5% 0, 6% 0 6% 100%, 5% 100%);
    clip-path: polygon(5% 0, 6% 0 6% 100%, 5% 100%); }
  25% {
    -webkit-clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%);
    clip-path: polygon(20% 0, 20% 0, 20% 100%, 20% 100%); }
  27% {
    -webkit-clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%);
    clip-path: polygon(10% 0, 10% 0, 10% 100%, 10% 100%); }
  30% {
    -webkit-clip-path: polygon(30% 0, 25% 0, 25% 100%, 30% 100%);
    clip-path: polygon(30% 0, 25% 0, 25% 100%, 30% 100%); }
  33% {
    -webkit-clip-path: polygon(15% 0, 16% 0, 16% 100%, 15% 100%);
    clip-path: polygon(15% 0, 16% 0, 16% 100%, 15% 100%); }
  37% {
    -webkit-clip-path: polygon(40% 0, 39% 0, 39% 100%, 40% 100%);
    clip-path: polygon(40% 0, 39% 0, 39% 100%, 40% 100%); }
  40% {
    -webkit-clip-path: polygon(20% 0, 21% 0, 21% 100%, 20% 100%);
    clip-path: polygon(20% 0, 21% 0, 21% 100%, 20% 100%); }
  45% {
    -webkit-clip-path: polygon(60% 0, 55% 0, 55% 100%, 60% 100%);
    clip-path: polygon(60% 0, 55% 0, 55% 100%, 60% 100%); }
  50% {
    -webkit-clip-path: polygon(30% 0, 31% 0, 31% 100%, 30% 100%);
    clip-path: polygon(30% 0, 31% 0, 31% 100%, 30% 100%); }
  53% {
    -webkit-clip-path: polygon(70% 0, 69% 0, 69% 100%, 70% 100%);
    clip-path: polygon(70% 0, 69% 0, 69% 100%, 70% 100%); }
  57% {
    -webkit-clip-path: polygon(40% 0, 41% 0, 41% 100%, 40% 100%);
    clip-path: polygon(40% 0, 41% 0, 41% 100%, 40% 100%); }
  60% {
    -webkit-clip-path: polygon(80% 0, 75% 0, 75% 100%, 80% 100%);
    clip-path: polygon(80% 0, 75% 0, 75% 100%, 80% 100%); }
  65% {
    -webkit-clip-path: polygon(50% 0, 51% 0, 51% 100%, 50% 100%);
    clip-path: polygon(50% 0, 51% 0, 51% 100%, 50% 100%); }
  70% {
    -webkit-clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%);
    clip-path: polygon(90% 0, 90% 0, 90% 100%, 90% 100%); }
  73% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%);
    clip-path: polygon(60% 0, 60% 0, 60% 100%, 60% 100%); }
  80% {
    -webkit-clip-path: polygon(100% 0, 99% 0, 99% 100%, 100% 100%);
    clip-path: polygon(100% 0, 99% 0, 99% 100%, 100% 100%); }
  100% {
    -webkit-clip-path: polygon(70% 0, 71% 0, 71% 100%, 70% 100%);
    clip-path: polygon(70% 0, 71% 0, 71% 100%, 70% 100%); } }
@keyframes glitch-anim-text {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  10% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  20% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  35% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  50% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  70% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  80% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  90% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
/* Flash */
@keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0); }
  33%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0); } }
#logo-cont {
  position: absolute;
  z-index: 2;
  top: -150px;
  width: 200px;
  height: 150px; }

#Logo-Text {
  position: absolute; }

/*
#text4487 {
	width: 200px;
}
*/
#Logo {
  fill: black;
  stroke: black;
  animation-name: wtob;
  animation-duration: 4s; }

#logo-small {
  display: none;
}

.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine, FadeStroke, FillIn;
  animation-duration: 4s, 1s, 1s;
  animation-delay: 0s, 3.5s, 3.5s; }

#Draw-Text {
  animation-delay: 0s, 2s, 2s;
  animation-duration: 2s, 1s, 1s;
  stroke-dashArray: 300;
  stroke-dashoffset: 300; }

@keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
@keyframes FadeStroke {
  to {
    stroke-opacity: 0; } }
@keyframes FillIn {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }
@keyframes wtob {
  from {
    stroke: white; }
  to {
    stroke: black; } }
/* COVER */
#coverDiv {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  z-index: 1;
  /*animation-name: coverbody;
  animation-duration: 2s;*/
  transition: all 4s linear;
  transition-delay: 3s;
  position: absolute;
  top: 0;
  left: 0; }

/*
@keyframes coverbody {
  from { opacity: 1; }
  to { opacity: 0; }
}
*/

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 100px) {

#logo-cont{
    top: -180px;
    left: -30px;  
}
}

@media screen and (max-width: 640px) {
 html, body 
 {
  overflow-y: auto; 
  height: 100%;
} 

  #container
  {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 120%;
    width: 120%;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;   
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.36);      
  }

  #logo-cont
  {
    top: -180px;
    left: -30px;
    margin-bottom: 30px;
  }

  #blockLeft 
  {
    float: none;
    width: 100%; 
    height: 50%;
  }

  #blockRight 
  {
    float: none;
    width: 100%; 
    height: 50%;
    margin-top: -20%;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;  
    margin-left: 20px;  
  }

  #pict
  {
    width: 180%;
  }
  .lastName {
      margin-top: 50px;
  }
  .firstName {
      font-size: 3em;
  }
  #more
  {
    margin-left:30px; 
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 463px) {
#logo-cont {
display: none;
}
#logo-small {
  display: block;
  background-image: url("../../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin: 20px;
  margin-bottom: -50px;
}
}